@model QuironLojaVirtual.Domain.Entities.Produto

<div class="well">
    <h3><strong>@Model.Nome</strong></h3>
    <h3> <span class="pull-right label label-primary">@Model.Preco.ToString("C")</span></h3>
    <p class="lead">@Model.Descricao</p> 

</div>

